.cardRow{
    margin-top: 20px !important;
    justify-content: space-evenly;
    height: 60vh;
    overflow: scroll;
}

.card{
    width: 15rem !important;
    margin: 10px;
}

.cardImg{
    height: 220px;
    object-fit: contain;
    padding-top: 10px;
}

.cardTitle{
    height: 100px;
    overflow: hidden;
}

.tableRow{
    height: 50vh;
    overflow: scroll;
}

.table{
    width: 85% !important;
    margin: 0 auto;
}

.tableImg{
    height: 60px;
}